.about {
  background-image: url("../img/Rectangle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 494px;
  grid-template-rows: auto 1fr auto;
  gap: 20px 30px;
  &__title, &__desc {
    margin: 0;
    font-weight: 700;
    line-height: 1.5;
  }
  &__title {
    font-size: 36px;
  }
  &__desc {
    max-width: 625px;
    padding-top: 31px;
  }
  &__img {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
  &__container {
    display: flex;
    gap: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .about {
    grid-template-columns: 1fr;
    &__img {
      grid-column: unset;
      grid-row: 2/3;
    }
  }
}
@media screen and (max-width: 767px) {
  .about {
    justify-content: center;
    &__img {
      max-width: 100%;
    }
    &__container {
      flex-direction: column;
    }
  }
}