.about {
  background-image: url("../img/Rectangle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  &__text-block {
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: #FFF;
    font-size: 36px;
    line-height: 1.5;
  }
  &__desc {
    color: #FFF;
    font-weight: 700;
    line-height: 1.5;
    max-width: 625px;
  }
  &__img-block {
    display: flex;
  }
  &__img {
    align-self: flex-end;
    position: absolute;
    padding: 60px 135px 60px 675px;
  }
}