.btn, .about__btn, .appointment__btn {
  background: #2d5e5e;
  border-radius: 10px;
  border: 3px solid #2d5e5e;
  padding: 5px 42px;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.33;
  min-width: 250px;
  &:hover,
  &:focus {
    opacity: .7;
  }
  &:active {
    opacity: .4;
  }
}
.about__btn-ask {
  background: none;
}
.appointment__btn {
  padding: 5px 74px;
}
.reviews__btn {
    border: none;
    background-color: #fff;
    &:hover,
    &:focus {
      opacity: .7;
    }
    &:active {
      opacity: .4;
    }
}