.counter {
  background-image: url("../img/counter-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: space-around;
  &__item {
    text-align: center;
    padding-right: 3px;
  }
  &__title, &__list, &__desc {
    margin: 0;
  }
  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    line-height: 1.5;
    font-weight: 900;
    padding-top: 60px;
  }
  &__list {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    padding-top: 14px;
  }
  &__desc {
    font-weight: 500;
    line-height: 1.5;
    max-width: 300px;
    padding-top: 20px;
    margin-bottom: 60px;
  }
}