* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.img {
  width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
}
.center {
  padding-left: calc(50vw - 591px);
  padding-right: calc(50vw - 591px);
}
a {
  outline: none;
}
@media screen and (max-width: 1200px)  {
  .center {
    padding-left: calc(50vw - 360px);
    padding-right: calc(50vw - 360px);
  }
}
@media screen and (max-width: 767px) {
  .center {
    padding-left: calc(50vw - 195px);
    padding-right: calc(50vw - 195px);
  }
}