.nav {
  &__list {
    list-style: none;
    display: flex;
    gap: 15px;
    @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      padding: 30px;
    }
  }
  &__link {
    text-decoration: none;
    color: #85aaab;
    font-size: 18px;
    font-weight: 700;
    &_active {
      color: #6de1e3;
      border-bottom: 2px solid currentColor;
    }
    &:hover,
    &:focus {
      color: #63cdcf;
    }
  }
}
.open_menu {
  visibility: hidden;
}
@media screen and (max-width: 767px) {
  #open_menu:checked {
    & ~ .nav__list {
      display: flex;
      flex-direction: column;
    }
  }
  .open_menu {
    visibility: visible;
  }
}