.news {
  background-image: url("../img/news-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 54px;
  padding-top: 60px;

  &__title {
    margin: 0;
    padding-left: 6px;
    font-size: 48px;
    line-height: 1.5;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 84px;
    padding-left: 6px;
    }
  &__link {
    text-decoration: none;
    color: #fff;
  }
  &__desc {
    font-size: 24px;
    line-height: 1.3;
    margin: 0;
    padding-top: 21.5px;
    padding-bottom: 28px;
    &:hover,
    &:focus {
      opacity: .7;
    }
    &:active {
      opacity: .4;
    }
  }
  }