.questions {
  padding-bottom: 60px;
  &__title {
    text-align: center;
    font-size: 48px;
    line-height: 1.5;
    margin: 0;
    padding-top: 51px;
    padding-bottom: 58px;
    padding-left: 5px;
  }
  &__box {
    padding-top: 21px;
    padding-left: 58px;
  }
  &__toggler {
    display: flex;
    align-items: center;
    gap: 21px;
  }
  &__ask {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
  }
  &__desc {
    padding-left: 40px;
    margin-top: 21px;
    font-weight: 500;
    line-height: 1.5;
    max-width: 900px;
  }
  & [open] {
    .questions {
      &__img {
        rotate: 45deg;
        fill: #2D5E5E;
      }
      &__ask {
        color: #2D5E5E;
      }
      &__desc {
        padding-bottom: 20px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .questions {
    &__box {
      padding-left: 0;
    }
  }
}