.reviews {
  display: grid;
  grid-template-columns: 17px 600px 17px;
  justify-content: center;
  align-items: center;
  gap: 0 43px;
  padding-bottom: 70px;
  &__title {
    text-align: center;
    font-size: 48px;
    line-height: 1.5;
    grid-column: 1 / 4;
  }
  &__container {
    background-color: #ADDDDE;
    display: grid;
    grid-template-columns: 245px auto;
    gap: 32px 30px;
  }
  &__img {
    border-radius: 70px;
    justify-self: flex-end;
    margin-top: 20px;
  }
  &__name {
    color: #2D5E5E;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    padding-top: 20px;
  }
  &__desc {
    font-weight: 300;
    margin: 0;
    padding: 0 25px 20px 25px;
    line-height: 1.3;
    grid-column: 1 / 3;
    text-align: center;
  }
}